<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: lightblue;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
<body>
<html>
<head>
<style>
body {
    color: blue;
}
h1 {
    color: green;
}
</style>
</head>
<body>

<h1>Movie Review</h1>
<p>The Avengers Age of Ultron<p>

<p>The movie The Avengers Age of Ultron is really just about how Tony Stark made Ultron a robot that could feel emotions. This robot went on to try to destroy the world because he despised human life. The Avengers and Ultron and his amy have a giant battle in which the Avengers easily win.</p> 
<p>I personally thought that the Age of Ultron was a very good movie that was very interesting and exciting with twists and an interesting ending. Overall I think the movie was a great success and amazing. 
<a href="https://youtu.be/tmeOjFno6Do">Movie trailer</a>

<a href="index.html">Link back to Home Page</a>

</body>
</html>

